---
import Layout from '../../layouts/Layout.astro';
import {getCollection} from 'astro:content';

export async function getStaticPaths() {
    const venues = await getCollection('venues');

    const paths = venues.map(venue => ({
        params: { slug: venue.data.slug },
        props: { venue: venue.data }
    }));

    return paths;
}

const { venue } = Astro.props;
---
<Layout title=`${venue?.name} beers`>
<h1 class="text-xl">{venue?.name}</h1>
<h2 class="text-md mb-10">{venue.city}, {venue.state}</h2>
<table class="table-auto w-full sortable sticky">
    <thead>
        <tr class="font-bold">
            <th class="p-2 border">Name</th>
            <th class="p-2 border">Style</th>
            <th class="p-2 border">My Rating</th>
        </tr>
    </thead>
    <tbody>
        {venue.beers.map(beer => (
            <tr>
                <td class="p-2 border">{beer.name}</td>
                <td class="p-2 border">{beer.style}</td>
                <td class="p-2 border">{beer.myScore}</td>
            </tr>
        ))}
    </tbody>
</table>
</Layout>

<script>
        import 'sortable-tablesort/dist/sortable.min.js'

</script>