---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import client from '../utils/sanityClient.mjs';


const beers = await client.fetch(`
  *[_type == "beer"] {
	_id,
	name,
	brewery->{
		_id,
	  name,
	  city,
	  state,
	  slug
	},
	avb,
	ibu,
	myScore
  }
`);


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	
	<ul class="table-auto w-full">
		<li class="table-row font-bold">
			<span class="table-cell p-2 border">Name</span>
			<span class="table-cell p-2 border">Brewery</span>
			<span class="table-cell p-2 border">City</span>
			<span class="table-cell p-2 border">State</span>
			<span class="table-cell p-2 border">ABV</span>
			<span class="table-cell p-2 border">IBU</span>
			<span class="table-cell p-2 border">My Rating</span>
		</li>
		{beers.map(beer => (
			<li class="table-row">
				<span class="table-cell p-2 border">{beer.name} </span>
				<span class="table-cell p-2 border"><a class="text-purple-700" href={`/brewery/${beer.brewery._id}`}>{beer.brewery.name}</a></span>
				<span class="table-cell p-2 border">{beer.brewery.city}</span>
				<span class="table-cell p-2 border">{beer.brewery.state}</span>
				<span class="table-cell p-2 border">{beer.avb}</span>
				<span class="table-cell p-2 border">{beer.ibu}</span>
				<span class="table-cell p-2 border">{beer.myScore}</span>
			</li>
		))}
	</ul>


</Layout>
