---
import Layout from '../../layouts/Layout.astro';
import {getCollection} from 'astro:content';

export async function getStaticPaths() {
const beersByState = await getCollection('beersByState');

// const breweries = await client.fetch(`
//   *[_type == "brewery"] {
// 	_id,
// 	name,
//     city,
//     state,
//     "beers": *[_type=="beer" && references(^._id)]{
//     name,
//       style,
//       myScore
//   }
//   }
// `);

    const paths = beersByState.map(state => {
        if (state.data.name == "unknown") {
            return
        }


        return {
        params: { slug: state.data.id },
        props: { state: state.data }
    };
    });
    return paths;
}

const { state } = Astro.props;


---
<Layout title=`${state.id} beers`>
    <h1 class="text-xl">{state.id}</h1>

    <table class="table-auto w-full sortable sticky">
        <thead>
            <tr class="font-bold">
                <th class="p-2 border">Name</th>
                <th class="p-2 border">Brewery</th>
                <th class="p-2 border">Style</th>
                <th class="p-2 border">City</th>
                <th class="p-2 border">State</th>
                <th class="p-2 border">ABV</th>
                <th class="p-2 border">IBU</th>
                <th class="p-2 border">My Rating</th>
            </tr>
        </thead>
        <tbody>
            {state.filteredBeers.map(beer => {
                const { brewery, name, style, abv, ibu, myScore } = beer;
                return (
                <tr>
					<td class="p-2 border">{name}</td>
					<td class="p-2 border"><a class="text-purple-700" href={`/breweries/${brewery._id}`}>{brewery.name}</a></td>
					<td class="p-2 border">{style}</td>
					<td class="p-2 border">{brewery.city}</td>
					<td class="p-2 border">{brewery.state}</td>
					<td class="p-2 border">{abv}</td>
					<td class="p-2 border">{ibu}</td>
					<td class="p-2 border">{myScore}</td>
				</tr>
                )})}
        </tbody>
    </table>
    </Layout>
    
    <script>
            import 'sortable-tablesort/dist/sortable.min.js'
    
    </script>