---
const { beers } = Astro.props;
---

<div class="overflow-x-auto">
  <table id="beers" class="sortable sticky desc table-auto w-full">
    <thead>
      <tr class="font-bold">
        <th class="p-2 border" id="firstSort">Name</th>
        <th class="p-2 border">Brewery</th>
        <th class="p-2 border">Style</th>
        <th class="p-2 border">City</th>
        <th class="p-2 border">State</th>

        <th class="p-2 border">My Rating</th>

        <th class="p-2 border">First taste</th>
        <th class="p-2 border">Venue</th>
        <th class="p-2 border">ABV</th>
        <th class="p-2 border">IBU</th>
      </tr>
    </thead>
    <tbody>
      {
        beers.map((beer) => {
          const {
            brewery,
            name,
            style,
            abv,
            ibu,
            myScore,
            firstTaste,
            notTasted,
            checkin,
          } = beer.data;
          return (
            <tr class={`${notTasted ? "bg-green-100" : ""}`}>
              <td class="p-2 border">{name}</td>
              <td class="p-2 border">
                <a class="text-purple-700" href={`/breweries/${brewery._id}`}>
                  {brewery.name}
                </a>
              </td>
              <td class="p-2 border">{style}</td>
              <td class="p-2 border">{brewery.city}</td>
              <td class="p-2 border">
                <a href={`/states/${brewery.state}`}>{brewery.state}</a>
              </td>
              <td class="p-2 border">{myScore}</td>
              <td
                class="p-2 border"
                data-sort-tbr="1"
                data-sort={new Date(firstTaste).getTime()}
              >
                {firstTaste && (
                  <a href={`/checkins/#${checkin._id}`}>
                    {new Date(firstTaste).toLocaleDateString()}
                  </a>
                )}
              </td>
              <td class="p-2 border">
                {checkin && (
                  <a href={`/venues/${checkin?.venue?.slug}`}>
                    {checkin?.venue?.name}{" "}
                    {checkin?.venue &&
                      `(${checkin.venue.city && checkin?.venue?.city}, ${checkin?.venue?.state})`}
                  </a>
                )}
              </td>

              <td class="p-2 border">{abv}</td>
              <td class="p-2 border">{ibu}</td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>

<script>
  import "sortable-tablesort/dist/sortable.min.js";

  window.addEventListener("load", function () {
    const el = document.getElementById("firstSort");

    if (el) {
      el.click();
      el.click();
    }
  });
</script>
