---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import client from '../../utils/sanityClient.mjs';


const breweries = await getCollection('breweries');


---
<Layout title=`Breweries`>
<h1 class="text-xl mb-10">Breweries</h1>


<table class="table-auto w-full sortable">
    <thead>
        <tr class="font-bold">
            <th class="p-2 border">Name</th>
            <th class="p-2 border">City</th>
            <th class="p-2 border">State</th>
            <th class="p-2 border">Number of Beers</th>
            <th class="p-2 border">Avg Rating</th>
        </tr>
    </thead>
    <tbody>
        {breweries.map(brewery => {
            const { name, city, state, beerCount, avgRating, _id } = brewery.data;
            return (
            <tr>
                <td class="p-2 border"><a href={`/breweries/${_id}`}>{name}</a></td>
                <td class="p-2 border">{city}</td>
                <td class="p-2 border">{state}</td>
                <td class="p-2 border">{beerCount}</td>
                <td class="p-2 border">{avgRating}</td>
            </tr>
        )})}
    </tbody>
</table>
</Layout>

<script>

    import 'sortable-tablesort/dist/sortable.min.js'
    
    
    </script>